:root {
  --color-bg-primary: #1F1147;
  --color-bg-secondary: #2A175B;
  --color-fg-primary: #7358ED;
  --color-fg-active: #fff; // Currently only used for the progress bar
  --color-fg-btn-fail: #f00;
  --color-fg-btn-pass: #77DD77;
  --color-txt-primary: #fff;
  --color-txt-secondary: #36E6BB;
  
  --font: Helvetica, Arial, 'sans-serif';
}