<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Location Guesser | About Page</title>
    <link rel="stylesheet" href="./styles/theme.css">
    <link rel="stylesheet" href="./styles/main.css">

    <link rel="icon" type="image/svg+xml" href="./resources/icon.svg">
  </head>
  <body>
    <header>
      <div class="headerContent">
        <a href="./index.html" class="circle">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="white">
            <path d="m313-440 196 196q12 12 11.5 28T508-188q-12 11-28 11.5T452-188L188-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l264-264q11-11 27.5-11t28.5 11q12 12 12 28.5T508-715L313-520h447q17 0 28.5 11.5T800-480q0 17-11.5 28.5T760-440H313Z"/>
          </svg>
        </a>
        <h1>About</h1>
        <span></span>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="currentColor" fill-opacity="1" d="M0,288L48,272C96,256,192,224,288,186.7C384,149,480,107,576,122.7C672,139,768,213,864,234.7C960,256,1056,224,1152,224C1248,224,1344,256,1392,272L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
      </svg>
    </header>
    <main>
      <p class="explanation">
      The basic premise of the challange provided was to make a polished game without using any JavaScript. This greatly limits our capabilities it proved very challanging some game concepts could not be implemented at all such as sound effects and music, and others such as keeping track of score proved very difficult. The game takes advantage of HTML form elements and sibling selectors to hold state. Essentially our game is a giant &nbsp;<a href="https://en.wikipedia.org/wiki/Finite-state_machine">FSM (Finite State Machine)</a>&nbsp; that uses &nbsp;<code>3</code>&nbsp;  radio buttons per level a linked &nbsp;<code>correct</code>&nbsp; and &nbsp;<code>incorrect</code>&nbsp; state and a &nbsp;<code>visible state</code>, the code in &nbsp;<code>./templates/styles/game.scss</code>&nbsp; is responsible for manging the games state. This type of programming is very interesting as we are working in a very limited development environment where simple things require getting creative, one such example is moving to the next level which requires massive css selectors and our first implementation caused Chrome to take over a second rendering the webpage everytime an animation was fired. Using css in this way was heavily inspired by &nbsp;<a href="https://keithclark.co.uk/labs/css-fps/">No JavaScript FPS</a>&nbsp; and &nbsp;<a href="https://www.youtube.com/watch?v=1WSOXT7-5bI">HTMX Pong</a>&nbsp; which are other examples of what is possible in limited development environments. To View the Source Code go to&nbsp;<a href="https://github.com/spotandjake/UniversityBuildingQuiz">HTMX Pong</a>&nbsp;
        </p>
    </main>
  </body>
</html>