<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Location Guesser | Credits</title>
    <link rel="stylesheet" href="./styles/theme.css">
    <link rel="stylesheet" href="./styles/main.css">

    <link rel="icon" type="image/svg+xml" href="./resources/icon.svg">
  </head>
  <body>
    <header>
      <div class="headerContent">
        <a href="./index.html" class="circle">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="white">
            <path d="m313-440 196 196q12 12 11.5 28T508-188q-12 11-28 11.5T452-188L188-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l264-264q11-11 27.5-11t28.5 11q12 12 12 28.5T508-715L313-520h447q17 0 28.5 11.5T800-480q0 17-11.5 28.5T760-440H313Z"/>
          </svg>
        </a>
        <h1>Credits</h1>
        <span></span>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="currentColor" fill-opacity="1" d="M0,288L48,272C96,256,192,224,288,186.7C384,149,480,107,576,122.7C672,139,768,213,864,234.7C960,256,1056,224,1152,224C1248,224,1344,256,1392,272L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
      </svg>
    </header>
    <main class="creditPage">
      <div class="creditCard">
        <a href="https://github.com/spotandjake" target="_blank">
          <img src="https://avatars.githubusercontent.com/u/40705786" alt="Profile Picture">
        </a>
        <div class="content">
          <h2>Jake</h2>
          <p>Hi I'm Jake, I am a second year computer science student at Trent University, I am currently working a programming language called Grain in my spare time. I also help lead the club website teeam for the Trent Computer Science Club Association.</p>
          <a href="https://github.com/spotandjake" target="_blank">Visit GitHub</a>
        </div>
      </div>
      <div class="creditCard">
        <a href="https://github.com/Kara-Zor-El" target="_blank">
          <img src="https://avatars.githubusercontent.com/u/69772087?v=4" alt="Profile Picture">
        </a>
        <div class="content">
          <h2>Kara</h2>
          <p>Hi, I'm Kara, I am a second year in Computer Science at Trent University. In my free time I work on JellyBook, a E-Reader for Jellyfin and a Recipe Scraper. I also help run web development for the Trent Computer Science Club Association.</p>
          <a href="https://github.com/Kara-Zor-El" target="_blank">Visit GitHub</a>
        </div>
      </div>
      <div class="creditCard creditText">
        <p>All images were currently taken from &nbsp;<a href="https://classfind.com/">ClassFind</a></p>
      </div>
    </main>
  </body>
</html>